In [30]:
%pip install boto3
%pip install pandas
%pip install redshift_connector

Requirement already satisfied: boto3 in c:\users\pichau\documents\git\covid19-de-project\env\lib\site-packages (1.28.60)
Requirement already satisfied: botocore<1.32.0,>=1.31.60 in c:\users\pichau\documents\git\covid19-de-project\env\lib\site-packages (from boto3) (1.31.60)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\pichau\documents\git\covid19-de-project\env\lib\site-packages (from boto3) (1.0.1)
Requirement already satisfied: s3transfer<0.8.0,>=0.7.0 in c:\users\pichau\documents\git\covid19-de-project\env\lib\site-packages (from boto3) (0.7.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\pichau\documents\git\covid19-de-project\env\lib\site-packages (from botocore<1.32.0,>=1.31.60->boto3) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in c:\users\pichau\documents\git\covid19-de-project\env\lib\site-packages (from botocore<1.32.0,>=1.31.60->boto3) (1.26.17)
Requirement already satisfied: six>=1.5 in c:\users\pichau\documents\git\covid19-de-project\env\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.32.0,>=1.31.60->boto3) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in c:\users\pichau\documents\git\covid19-de-project\env\lib\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\pichau\documents\git\covid19-de-project\env\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pichau\documents\git\covid19-de-project\env\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\pichau\documents\git\covid19-de-project\env\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\pichau\documents\git\covid19-de-project\env\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\pichau\documents\git\covid19-de-project\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Collecting redshift_connector
  Obtaining dependency information for redshift_connector from https://files.pythonhosted.org/packages/dc/9a/75304eee1b65f1f206022220c6377fbad2f22669d52a3a8943a2851e3113/redshift_connector-2.0.914-py3-none-any.whl.metadata
  Downloading redshift_connector-2.0.914-py3-none-any.whl.metadata (68 kB)
     ---------------------------------------- 0.0/68.1 kB ? eta -:--:--
     ------ --------------------------------- 10.2/68.1 kB ? eta -:--:--
     -------------------------------------- 68.1/68.1 kB 741.9 kB/s eta 0:00:00
Collecting scramp<1.5.0,>=1.2.0 (from redshift_connector)
  Downloading scramp-1.4.4-py3-none-any.whl (13 kB)
Requirement already satisfied: pytz>=2020.1 in c:\users\pichau\documents\git\covid19-de-project\env\lib\site-packages (from redshift_connector) (2023.3.post1)
Collecting beautifulsoup4<5.0.0,>=4.7.0 (from redshift_connector)
  Downloading beautifulsoup4-4.12.2-py3-none-any.whl (142 kB)
     ---------------------------------------- 0.0/143.0 kB ? eta -:--:--
     -------------------------------------- 143.0/143.0 kB 4.3 MB/s eta 0:00:00
Requirement already satisfied: boto3<2.0.0,>=1.9.201 in c:\users\pichau\documents\git\covid19-de-project\env\lib\site-packages (from redshift_connector) (1.28.60)
Collecting requests<3.0.0,>=2.23.0 (from redshift_connector)
  Obtaining dependency information for requests<3.0.0,>=2.23.0 from https://files.pythonhosted.org/packages/70/8e/0e2d847013cb52cd35b38c009bb167a1a26b2ce6cd6965bf26b47bc0bf44/requests-2.31.0-py3-none-any.whl.metadata
  Using cached requests-2.31.0-py3-none-any.whl.metadata (4.6 kB)
Collecting lxml>=4.6.5 (from redshift_connector)
  Obtaining dependency information for lxml>=4.6.5 from https://files.pythonhosted.org/packages/31/58/e3b3dd6bb2ab7404f1f4992e2d0e6926ed40cef8ce1b3bbefd95877499e1/lxml-4.9.3-cp311-cp311-win_amd64.whl.metadata
  Downloading lxml-4.9.3-cp311-cp311-win_amd64.whl.metadata (3.9 kB)
Requirement already satisfied: botocore<2.0.0,>=1.12.201 in c:\users\pichau\documents\git\covid19-de-project\env\lib\site-packages (from redshift_connector) (1.31.60)
Requirement already satisfied: packaging in c:\users\pichau\documents\git\covid19-de-project\env\lib\site-packages (from redshift_connector) (23.2)
Requirement already satisfied: setuptools in c:\users\pichau\documents\git\covid19-de-project\env\lib\site-packages (from redshift_connector) (65.5.0)
Collecting soupsieve>1.2 (from beautifulsoup4<5.0.0,>=4.7.0->redshift_connector)
  Obtaining dependency information for soupsieve>1.2 from https://files.pythonhosted.org/packages/4c/f3/038b302fdfbe3be7da016777069f26ceefe11a681055ea1f7817546508e3/soupsieve-2.5-py3-none-any.whl.metadata
  Downloading soupsieve-2.5-py3-none-any.whl.metadata (4.7 kB)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\pichau\documents\git\covid19-de-project\env\lib\site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (1.0.1)
Requirement already satisfied: s3transfer<0.8.0,>=0.7.0 in c:\users\pichau\documents\git\covid19-de-project\env\lib\site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (0.7.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\pichau\documents\git\covid19-de-project\env\lib\site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in c:\users\pichau\documents\git\covid19-de-project\env\lib\site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (1.26.17)
Collecting charset-normalizer<4,>=2 (from requests<3.0.0,>=2.23.0->redshift_connector)
  Obtaining dependency information for charset-normalizer<4,>=2 from https://files.pythonhosted.org/packages/92/5e/50028bbb269986d9bc30270cd46b47ea44a1ca0b3f8da3a8429680d37050/charset_normalizer-3.3.0-cp311-cp311-win_amd64.whl.metadata
  Using cached charset_normalizer-3.3.0-cp311-cp311-win_amd64.whl.metadata (33 kB)
Collecting idna<4,>=2.5 (from requests<3.0.0,>=2.23.0->redshift_connector)
  Downloading idna-3.4-py3-none-any.whl (61 kB)
     ---------------------------------------- 0.0/61.5 kB ? eta -:--:--
     ---------------------------------------- 61.5/61.5 kB 3.4 MB/s eta 0:00:00
Collecting certifi>=2017.4.17 (from requests<3.0.0,>=2.23.0->redshift_connector)
  Obtaining dependency information for certifi>=2017.4.17 from https://files.pythonhosted.org/packages/4c/dd/2234eab22353ffc7d94e8d13177aaa050113286e93e7b40eae01fbf7c3d9/certifi-2023.7.22-py3-none-any.whl.metadata
  Using cached certifi-2023.7.22-py3-none-any.whl.metadata (2.2 kB)
Collecting asn1crypto>=1.5.1 (from scramp<1.5.0,>=1.2.0->redshift_connector)
  Downloading asn1crypto-1.5.1-py2.py3-none-any.whl (105 kB)
     ---------------------------------------- 0.0/105.0 kB ? eta -:--:--
     ---------------------------------------- 105.0/105.0 kB ? eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\pichau\documents\git\covid19-de-project\env\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<2.0.0,>=1.12.201->redshift_connector) (1.16.0)
Downloading redshift_connector-2.0.914-py3-none-any.whl (125 kB)
   ---------------------------------------- 0.0/125.4 kB ? eta -:--:--
   ---------------------------------------- 125.4/125.4 kB 7.2 MB/s eta 0:00:00
Downloading lxml-4.9.3-cp311-cp311-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   --- ------------------------------------ 0.4/3.8 MB 7.4 MB/s eta 0:00:01
   ------- -------------------------------- 0.7/3.8 MB 7.7 MB/s eta 0:00:01
   ----------- ---------------------------- 1.1/3.8 MB 7.7 MB/s eta 0:00:01
   --------------- ------------------------ 1.5/3.8 MB 7.9 MB/s eta 0:00:01
   -------------------- ------------------- 2.0/3.8 MB 8.4 MB/s eta 0:00:01
   -------------------------- ------------- 2.5/3.8 MB 8.7 MB/s eta 0:00:01
   -------------------------------- ------- 3.0/3.8 MB 9.2 MB/s eta 0:00:01
   -------------------------------------- - 3.6/3.8 MB 9.6 MB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 9.6 MB/s eta 0:00:00
Using cached requests-2.31.0-py3-none-any.whl (62 kB)
Using cached certifi-2023.7.22-py3-none-any.whl (158 kB)
Using cached charset_normalizer-3.3.0-cp311-cp311-win_amd64.whl (97 kB)
Downloading soupsieve-2.5-py3-none-any.whl (36 kB)
Installing collected packages: asn1crypto, soupsieve, scramp, lxml, idna, charset-normalizer, certifi, requests, beautifulsoup4, redshift_connector
Successfully installed asn1crypto-1.5.1 beautifulsoup4-4.12.2 certifi-2023.7.22 charset-normalizer-3.3.0 idna-3.4 lxml-4.9.3 redshift_connector-2.0.914 requests-2.31.0 scramp-1.4.4 soupsieve-2.5
Note: you may need to restart the kernel to use updated packages.

In [1]:
import boto3
import pandas as pd
import time
from io import StringIO

In [2]:
keys_variables = {}
with open('../credentials.tfvars', 'r') as file :
    tvars_content = file.read()

for line in tvars_content.splitlines():
    if '=' in line:
        key, value = line.split('=')
        key = key.strip()
        value = value.strip()
        keys_variables[key] = value

In [3]:
AWS_ACCESS_KEY = ''
AWS_SECRET_KEY = ''
AWS_REGION = 'us-east-1'
SCHEMA_NAME = 'covid_19'
S3_STAGING = "s3://de-atilla-staging/output" 
S3_BUCKET_NAME = "de-atilla-staging"
S3_BUCKET_DIRECTORY = "output"

In [4]:
athena_client = boto3.client(
    'athena', 
    aws_access_key_id = AWS_ACCESS_KEY,
    aws_secret_access_key = AWS_SECRET_KEY,
    region_name = AWS_REGION
)

In [5]:
Dict = {}
def download_and_load_results(
        client:boto3.client, query_response:Dict
        ) -> pd.DataFrame:
    while True:
        try:
            client.get_query_results(
                QueryExecutionId = query_response['QueryExecutionId']
            )
            break
        except Exception as err:
            if 'not yet finished' in str(err):
                time.sleep(0.001)

            else:
                raise err
            
    temp_file_location: str = 'athena_query_results.csv'    
    s3_client = boto3.client(
    's3', 
    aws_access_key_id = AWS_ACCESS_KEY,
    aws_secret_access_key = AWS_SECRET_KEY,
    region_name = AWS_REGION
    )
    s3_client.download_file(
        S3_BUCKET_NAME,
        f"{S3_BUCKET_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
        temp_file_location
    )
    return pd.read_csv(temp_file_location)

In [6]:
def get_table(table:str) -> pd.DataFrame:
    response = athena_client.start_query_execution(
    QueryString= f'SELECT * FROM {table}',
    QueryExecutionContext = {'Database': SCHEMA_NAME},
    ResultConfiguration = {
        'OutputLocation' : S3_STAGING,
        'EncryptionConfiguration': {'EncryptionOption': 'SSE_S3'} 
    },
    )
    df_table = download_and_load_results(athena_client, response)
    return df_table

In [13]:
enigma_jhud = get_table('enigma_jhud')
nytimes_data_in_usa_us_states = get_table('nytimes_data_in_usa_us_states')
nytimes_data_in_usa_us_county = get_table('nytimes_data_in_usa_us_county')
rearc_covid_19_testing_us_daily = get_table('rearc_covid_19_testing_us_daily')
rearc_covid_19_testing_us_states_daily = get_table('rearc_covid_19_testing_us_states_states_daily')
rearc_covid_19_testing_us_total_latest = get_table('rearc_covid_19_testing_us_total_latest')
rearc_usa_hospital_beds = get_table('rearc_usa_hospital_beds')
static_datasets_countrycode = get_table('static_datasets_countrycode')
static_datasets_countypopulation = get_table('static_datasets_countypopulation')
static_datasets_state_abv = get_table('static_datasets_state_abv')

In [14]:

static_datasets_state_abv.head()

       col0          col1
0     State  Abbreviation
1   Alabama            AL
2    Alaska            AK
3   Arizona            AZ
4  Arkansas            AR

In [15]:
new_header = static_datasets_state_abv.iloc[0]
static_datasets_state_abv = static_datasets_state_abv[1:]
static_datasets_state_abv.columns = new_header
static_datasets_state_abv.head()

0       State Abbreviation
1     Alabama           AL
2      Alaska           AK
3     Arizona           AZ
4    Arkansas           AR
5  California           CA

In [16]:
fact_covid_1 = enigma_jhud[['fips', 'province_state', 'country_region', 'confirmed' ,'deaths', 'recovered', 'active'  ]]
fact_covid_2 = rearc_covid_19_testing_us_states_daily[['fips', 'date', 'positive', 'negative', 'hospitalizedcurrently', 'hospitalized', 'hospitalizedcumulative']]
fact_covid = pd.merge(fact_covid_1, fact_covid_2, on='fips', how='inner')
fact_covid.head()

,fips,province_state,country_region,confirmed,deaths,recovered,active,date,positive,negative,hospitalizedcurrently,hospitalized,hospitalizedcumulative
0,NaN,Anhui,China,1.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
1,NaN,Beijing,China,14.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
2,NaN,Chongqing,China,6.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
3,NaN,Fujian,China,1.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
4,NaN,Gansu,China,NaN,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN

In [17]:
dim_region_1 = enigma_jhud[['fips', 'province_state', 'country_region','latitude', 'longitude']]
dim_region_2 = nytimes_data_in_usa_us_county[['fips', 'county', 'state']]
dim_region = pd.merge(fact_covid_1, fact_covid_2, on='fips', how='inner')
dim_region.dropna(subset=['fips'],inplace=True)
dim_region

,fips,province_state,country_region,confirmed,deaths,recovered,active,date,positive,negative,hospitalizedcurrently,hospitalized,hospitalizedcumulative
24440,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,20210307,101327,305972.0,147.0,NaN,NaN
24441,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,20210306,101327,305972.0,147.0,NaN,NaN
24442,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,20210305,101066,305972.0,136.0,NaN,NaN
24443,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,20210304,100867,305972.0,171.0,NaN,NaN
24444,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,20210303,100765,305972.0,169.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27987,72.0,Puerto Rico,US,3647.0,132.0,0.0,3515.0,20210123,90073,305972.0,325.0,NaN,NaN
27988,72.0,Puerto Rico,US,3647.0,132.0,0.0,3515.0,20210122,89282,305972.0,341.0,NaN,NaN
27989,72.0,Puerto Rico,US,3647.0,132.0,0.0,3515.0,20210121,88728,305972.0,344.0,NaN,NaN
27990,72.0,Puerto Rico,US,3647.0,132.0,0.0,3515.0,20210120,88513,305972.0,331.0,NaN,NaN
27991,72.0,Puerto Rico,US,3647.0,132.0,0.0,3515.0,20210119,88373,305972.0,351.0,NaN,NaN

In [18]:
dim_hospital = rearc_usa_hospital_beds[['fips', 'state_name', 'latitude', 'longtitude','hq_address', 'hospital_name', 'hospital_type', 'hq_city','hq_state']]

In [19]:
dim_date = rearc_covid_19_testing_us_states_daily[['fips', 'date']]

In [20]:
dim_date['date'] = pd.to_datetime(dim_date['date'], format='%Y%m%d')
dim_date.head()

C:\Users\pichau\AppData\Local\Temp\ipykernel_21784\174629041.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dim_date['date'] = pd.to_datetime(dim_date['date'], format='%Y%m%d')

   fips       date
0   2.0 2021-03-07
1   1.0 2021-03-07
2   5.0 2021-03-07
3  60.0 2021-03-07
4   4.0 2021-03-07

In [21]:
dim_date['year'] = dim_date['date'].dt.year
dim_date['month']= dim_date['date'].dt.month
dim_date['day_of_week']  = dim_date['date'].dt.dayofweek
dim_date.head()

C:\Users\pichau\AppData\Local\Temp\ipykernel_21784\3267190780.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dim_date['year'] = dim_date['date'].dt.year
C:\Users\pichau\AppData\Local\Temp\ipykernel_21784\3267190780.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dim_date['month']= dim_date['date'].dt.month
C:\Users\pichau\AppData\Local\Temp\ipykernel_21784\3267190780.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dim_date['day_of_week']  = dim_date['date'].dt.dayofweek

   fips       date  year  month  day_of_week
0   2.0 2021-03-07  2021      3            6
1   1.0 2021-03-07  2021      3            6
2   5.0 2021-03-07  2021      3            6
3  60.0 2021-03-07  2021      3            6
4   4.0 2021-03-07  2021      3            6

In [24]:
def put_in_bucket(df:pd.DataFrame, df_name:str):
    output_bucket = 'de-atilla-covid-data-v2'
    csv_buffer = StringIO()
    df.to_csv(csv_buffer)
    s3_resource = boto3.resource('s3',aws_access_key_id= AWS_ACCESS_KEY, aws_secret_access_key= AWS_SECRET_KEY)
    s3_resource.Object(output_bucket, f'output/{df_name}.csv').put(Body=csv_buffer.getvalue())

In [25]:
put_in_bucket(fact_covid, 'fact_covid')
put_in_bucket(dim_region, 'dim_region')
put_in_bucket(dim_hospital, 'dim_hospital')
put_in_bucket(dim_date, 'dim_date')

In [26]:
dim_date_sql  = pd.io.sql.get_schema(dim_date.reset_index(), 'dim_date')
dim_date_sql = str(''.join(dim_date_sql))
print(dim_date_sql)

CREATE TABLE "dim_date" (
"index" INTEGER,
  "fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day_of_week" INTEGER
)

In [27]:
fact_covid_sql  = pd.io.sql.get_schema(fact_covid.reset_index(), 'fact_covid')
fact_covid_sql = str(''.join(fact_covid_sql))
print(fact_covid_sql)

CREATE TABLE "fact_covid" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizedcumulative" REAL
)

In [28]:
dim_region_sql  = pd.io.sql.get_schema(dim_region.reset_index(), 'dim_region')
dim_region_sql = str(''.join(dim_region_sql))
print(dim_region_sql)

CREATE TABLE "dim_region" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizedcumulative" REAL
)

In [43]:
dim_hospital_sql  = pd.io.sql.get_schema(dim_hospital.reset_index(), 'dim_hospital')
dim_hospital_sql = str(''.join(dim_hospital_sql))
print(dim_hospital_sql)

CREATE TABLE "dim_hospital" (
"index" INTEGER,
  "fips" REAL,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hq_address" TEXT,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)

In [53]:
import redshift_connector

conn = redshift_connector.connect(
    host = 'de-covid-cluster.coe8joravz9x.us-east-1.redshift.amazonaws.com',
    database='dev',
    port=5439,
    user='awsuser',
    password='Passw0rd123!', 

)

In [54]:
conn.autocommit = True
cursor = redshift_connector.Cursor = conn.cursor()

In [39]:
cursor.execute(dim_date_sql)

In [40]:
cursor.execute(fact_covid_sql)

In [41]:
cursor.execute(dim_region_sql)

In [44]:
cursor.execute(dim_hospital_sql)

In [55]:
def fill_tables(table:str):
    cursor.execute(f"""
    COPY  {table} from 's3://de-atilla-covid-data-v2/output/{table}.csv'
    CREDENTIALS  'aws_iam_role=arn:aws:iam::750431063106:role/redshift-s3'
    DELIMITER  ','
    REGION  'us-east-1'
    IGNOREHEADER 1
    """)

In [56]:
fill_tables('dim_date')
fill_tables('fact_covid')
fill_tables('dim_region')
fill_tables('dim_hospital')